#PORT

PORT = 3001

#DOCS

DOCS_ENABLED = true

#TYPEORM

TYPEORM_TYPE = mysql
TYPEORM_HOST = localhost
TYPEORM_USERNAME = mysql
TYPEORM_PASSWORD = mysql
TYPEORM_DATABASE = node_api_base_development
TYPEORM_PORT = 3306
TYPEORM_SYNCHRONIZE = false
TYPEORM_LOGGING = true
TYPEORM_MIGRATIONS_RUN = true

#REDIS

REDIS_HOST = localhost
REDIS_PORT = 6379

#TOKEN

JWT_SECRET = some-secret-string
ACCESS_TOKEN_LIFE = 360000000

#RATE LIMIT

RATE_LIMIT_WINDOW = 5
RATE_LIMIT_MAX_REQUESTS = 100

#AWS

AWS_ID=<ID>
AWS_SECRET=<SECRET>
AWS_REGION=<REGION>
AWS_S3_BUCKETNAME=api-express-test
AWS_SES_API_VERSION=<VERSION>


#SENDGRID
SENDGRID_API_USER=<USER>
SENDGRID_API_KEY=<API-KEY>

#Email
EMAIL_TRANSPORTER = AWS